.App {
  text-align: center;
}

.Container {
  width: 400px;
  margin: 0px auto;
  padding: 5px;
  text-align: center;
  display: block;
}

.ConvertFrom {
  float: left;
  width: 33%;
}

.ConvertTo {
  float: right;
  width: 33%;
}

.SelectRate {
  width: 60px;
}

.InputValue {
  width: 100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.Equals {
  float: left;
  text-align: center;
  width: 34%;
  padding-top: 10px;
  font-size: xx-large;
}
